
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.page-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
}

.page-not-found .image{
    width: 60%;
    object-position: center;
}

.page-not-found .image .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* media queries */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .page-not-found .image{
        width: 80%;
    }
}

@media (max-width: 794px) {
    .page-not-found .image{
        object-position: left;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}